<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="stylesheets/styles.css">
</head>
<body>
    <div class="main">
        <div class="form">
            <a class="text-left text-blue-500" href="/">Go Back to Home</a>
            <form action="/edit" method="post">
                <input class="edit-input-field" type="text" placeholder="Previous Title" name="previous" value="<%=filename%>" >
                <input class="edit-input-field" type="text" placeholder="New Title" name="new">
                <input class="submit-button" type="submit" value="Change">
            </form>
        </div>
    </div>
</body>
</html>
